.NavBar {
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: space-around;   
    background-color: #282c34;
    text-decoration: none;
}

a {
    color: #61dafb;
    text-decoration: none;
}

.logo, .menu {
    margin: 30px 0px 30px 0px;
}

.logo {
    font-size: 40px;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;     
    margin: 0px 200px 0px 0px;
    padding: 0px;
}

.menu li {
    padding: 0px 50px;
}

.cart {
    display: flex;
    flex-flow: row wrap;  
    /* color: #61dafb;
    background-color: #61dafb;     */
}

/* .cartIcon img {
    color: #61dafb;
    background-color: #61dafb; 
} */